<!DOCTYPE html>
<html lang="ko">
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세히 보기</title>
</header>
<style>
    body {
        background-color: honeydew;
        width: auto;
        height: auto;
        color: black;
    }
    footer {
        background-color: honeydew;
        width: auto;
        height: auto;
        color: black;
    }
    header {
        background-color: honeydew;
        width: auto;
        height: auto;
        color: black;
    }
    a {
        color: black;
        text-decoration-line: none;
    }
</style>
<header>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Main">로그아웃</a><br>
    <p>내용</p>
    <p>{{data}}</p><br>
</header>
<body>
<a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Comment?articleId={{ID}}">댓글 달기 </a>
{{#data2}}
    <div style="display: flex; align-items: center; gap: 10px;">
        <p>유저의 메시지: {{commentValue}}</p><br>
    </div>
    <iframe id="replyFrame" src="/Rep?AcceptId={{id}}" width="100%" style="border: none;" onload="resizeIframe()" scrolling="no"></iframe>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Reply?AcceptId={{id}}">대댓 달기 </a>
{{/data2}}
<script>
  window.addEventListener("message", (event) => {
    if (event.data.type === "resize" && event.data.height) {
      document.getElementById("replyFrame").style.height = event.data.height + "px";
    }
  });
</script>
<script>
          // 5분마다 서버에 요청 보내기
          setInterval(() => {
            fetch('/session-ping', {
              method: 'POST',
              credentials: 'include'  // 세션 쿠키 포함
            }).then(res => {
              if (res.ok) {
                console.log("세션 연장 성공");
              }
              if (!res.ok) {
                console.warn("세션 연장 실패");
              }
            }).catch(err => {
              console.error("서버 연결 실패", err);
            });
          }, 5 * 60 * 1000); // 5분마다
</script>
</body>
</html>
