<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>댓글 작성</title>
</head>
<style>
        body {
            background-color: rgb(0, 0, 0);
            width: auto;
            height: auto;
            color: rgb(246, 246, 246);
            text-shadow: 0.01cm 0.04cm green;
        }
        header {
            background-color: rgb(0, 0, 0);
            width: auto;
            height: auto;
            color: rgb(255, 255, 255);
        }
        h1 {
            text-shadow: 0.01cm 0.1cm green;
        }
        a {
            color: white;
            text-decoration-line: none;
            text-shadow: 0.01cm 0.04cm green;
        }
</style>
<style>
    textarea {
        background-color: antiquewhite;
    }
</style>
<body>
    <h1>댓글 달기</h1>
    <form action="/Commented" method="post">
        <p>댓글</p><br>
        <input type="hidden" name="aid" value={{ai}}>
        <textarea rows="3" name="commentValue"></textarea>
        <button type="submit" class="btn btn-primary">제출하기</button>
    </form>
    <script>
      // 5분마다 서버에 요청 보내기
      setInterval(() => {
        fetch('/session-ping', {
          method: 'POST',
          credentials: 'include'  // 세션 쿠키 포함
        }).then(res => {
          if (res.ok) {
            console.log("세션 연장 성공");
          }
          if (!res.ok) {
            console.warn("세션 연장 실패");
          }
        }).catch(err => {
          console.error("서버 연결 실패", err);
        });
      }, 5 * 60 * 1000); // 5분마다
    </script>
</body>
</html>
