<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<style>
    body {
        background-image: url("KakaoTalk_20250729_182537248.jpg");
        width: auto;
        height: auto;
        color: greenyellow;
        text-shadow: 0.01cm 0.04cm green;
    }
    header {
        background-image: url("KakaoTalk_20250729_182537248.jpg");
        width: auto;
        height: auto;
        color: burlywood;
    }
    h1 {
      text-shadow: 0.01cm 0.1cm rgb(182, 98, 38);
    }
    a {
        color: beige;
        text-decoration-line: none;
        text-shadow: 0.01cm 0.04cm black;
    }
</style>
<body>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/In">방 들어가기</a>
</body>
</html>
