<html lang="en">
<style>
    body {
        background-color: honeydew;
        color:rgb(100, 61, 61);
    }
    a {
        background-color: rgb(100, 61, 61);
        color: white;
        text-decoration-line: none;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>홈</title>
    <p color="white">홈 화면</p>
</head>
<body>
    <h1>{{userId}}님 안녕하세요!</h1>
    <li>
        <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Made">방 생성</a>
    </li>
    <li>
        <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/In">방 입장</a>
    </li>
    <li>
        <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Main">처음부터</a>
    </li>
</body>
</html>
