<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>환영합니다!</title>
</head>
<style>
    body {
        background-color: honeydew;
    }
    textarea {
        background-color: antiquewhite;
    }
</style>
<body>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/SignUp">회원가입</a>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Login">로그인</a>
</body>
</html>
