<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>환영합니다!</title>
</head>
<style>
        body {
            background-color: rgb(0, 0, 0);
            width: auto;
            height: auto;
            color: rgb(246, 246, 246);
            text-shadow: 0.01cm 0.04cm green;
        }
        header {
            background-color: rgb(0, 0, 0);
            width: auto;
            height: auto;
            color: rgb(255, 255, 255);
        }
        h1 {
            text-shadow: 0.01cm 0.1cm green;
        }
        a {
            color: white;
            text-decoration-line: none;
            text-shadow: 0.01cm 0.04cm green;
        }
</style>
<body>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/SignUp?SessionState=Good">회원가입</a>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Login?SessionState=Good">로그인</a>
</body>
</html>

