<html lang="en">
<style>
    body {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    footer {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    header {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    a {
        color: greenyellow
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>다동게시판</title>
</head>
<form class="container" action="/Process" method="post">
    <label class="form-label">RoomId</label>
    <textarea class="form-control" rows="3" name="RoomId"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</html>