<html lang="en">
<style>
    body {
        background-image: url("KakaoTalk_20250729_182537248.jpg");
        width: auto;
        height: auto;
        color: greenyellow;
        text-shadow: 0.01cm 0.04cm green;
    }
    header {
        background-image: url("KakaoTalk_20250729_182537248.jpg");
        width: auto;
        height: auto;
        color: burlywood;
    }
    h1 {
      text-shadow: 0.01cm 0.1cm rgb(182, 98, 38);
    }
    a {
        color: beige;
        text-decoration-line: none;
        text-shadow: 0.01cm 0.04cm black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>방 입장</title>
</head>
<form class="container" action="/Process" method="post">
    <label class="form-label">방 번호</label>
    <textarea class="form-control" rows="3" name="RoomId"></textarea>
    <button type="submit" class="btn btn-primary">입장하기</button>
</form>
</html>
