<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시글 수정</title>
</head>
<style>
    body {
        background-color: honeydew;
    }
    textarea {
        background-color: antiquewhite;
    }
</style>
<body>
    <!-- 세션 자동 유지 JS -->
    <script>
        setInterval(() => {
            fetch("/keep-session-alive", {
                method: "GET",
                credentials: "include" // 세션 쿠키 같이 보냄
            }).then(response => console.log("세션 연장됨"));
        }, 5 * 60 * 1000); // 5분마다
    </script>
    <h1>수정하기</h1>
    <form action="/Modifying" method="post">
        <input type="hidden" name="ModifyId" value="{{MI}}">
        <label class="form-label">방 번호</label>
        <textarea rows="3" name="roomId"></textarea><br>
        <label class="form-label">글 제목</label>
        <textarea rows="3" name="title"></textarea><br>
        <label class="form-label">글 내용</label>
        <textarea rows="3" name="News"></textarea><br>
        <button type="submit" class="btn btn-primary">제출하기</button>
    </form>
</body>
</html>
