<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>댓글수정</title>
</head>
<body>
    <form class="container" action="/Modifying2" method="post">
        <input type="hidden" name="ModifyId" value="{{MI}}">
        <p>수정할 내용</p>
        <textarea rows="3" name="value"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>