<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>대댓글 조회</title>
</head>
<style>
        body {
            background-color: rgb(0, 0, 0);
            width: auto;
            height: auto;
            color: rgb(246, 246, 246);
            text-shadow: 0.01cm 0.04cm green;
        }
        header {
            background-color: rgb(0, 0, 0);
            width: auto;
            height: auto;
            color: rgb(255, 255, 255);
        }
        h1 {
            text-shadow: 0.01cm 0.1cm green;
        }
        a {
            color: white;
            text-decoration-line: none;
            text-shadow: 0.01cm 0.04cm green;
        }
</style>
<body>
{{#Repping}}
    <p>유저이름: {{usName}}</p>
    <p>대댓글 내용: {{replyValue}}</p>
    <a href = "https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/DelRep?AcceptId={{id}}">댓글 삭제</a>
    <iframe 
        id="replyFrame-{{id}}" 
        src="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Change3?ModifyId={{id}}"
        width="100%" 
        style="border: none; display: none;" 
        scrolling="yes">
    </iframe>
{{/Repping}}
<script>
      // 5분마다 서버에 요청 보내기
      setInterval(() => {
        fetch('/session-ping', {
          method: 'POST',
          credentials: 'include'  // 세션 쿠키 포함
        }).then(res => {
          if (res.ok) {
            console.log("세션 연장 성공");
          }
          if (!res.ok) {
            console.warn("세션 연장 실패");
          }
        }).catch(err => {
          console.error("서버 연결 실패", err);
        });
      }, 5 * 60 * 1000); // 5분마다
</script>
</body>
</html>
