<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>대댓글 조회</title>
</head>
<style>
    body {
        background-image: url("KakaoTalk_20250729_182537248.jpg");
        width: auto;
        height: auto;
        color: greenyellow;
        text-shadow: 0.01cm 0.04cm green;
    }
    header {
        background-image: url("KakaoTalk_20250729_182537248.jpg");
        width: auto;
        height: auto;
        color: burlywood;
    }
    h1 {
      text-shadow: 0.01cm 0.1cm rgb(182, 98, 38);
    }
    a {
        color: beige;
        text-decoration-line: none;
        text-shadow: 0.01cm 0.04cm black;
    }
</style>
<body>
{{#Repping}}
    <p>유저이름: {{usName}}</p>
    <p>대댓글 내용: {{replyValue}}</p>
{{/Repping}}
<script>
      // 5분마다 서버에 요청 보내기
      setInterval(() => {
        fetch('/session-ping', {
          method: 'POST',
          credentials: 'include'  // 세션 쿠키 포함
        }).then(res => {
          if (res.ok) {
            console.log("세션 연장 성공");
          }
          if (!res.ok) {
            console.warn("세션 연장 실패");
          }
        }).catch(err => {
          console.error("서버 연결 실패", err);
        });
      }, 5 * 60 * 1000); // 5분마다
</script>
</body>
</html>
