<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원 가입</title>
</head>
<style>
    body {
        background-color: honeydew;
    }
    textarea {
        background-color: antiquewhite;
    }
</style>
<body>
    <!-- 세션 자동 유지 JS -->
    <script>
        setInterval(() => {
            fetch("/SignUp", {
                method: "GET",
                credentials: "include" // 세션 쿠키 같이 보냄
            }).then(response => console.log("세션 연장됨"));
        }, 5 * 60 * 1000); // 5분마다
    </script>
    <h1>회원가입</h1>
    <form action="/Board" method="post">
        <p>아이디</p><br>
        <textarea rows="3" name="userId"></textarea>
        <p>비밀번호</p><br>
        <textarea rows="3" name="password"></textarea>
        <button type="submit" class="btn btn-primary">제출하기</button>
    </form>
</body>
</html>
