<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>회원 가입</title>
</head>
<style>
    body {
        background-color: honeydew;
    }
    textarea {
        background-color: antiquewhite;
    }
</style>
<body>
    <p>현재 세션 상황: {{State}}</p>
    <h1>회원가입</h1>
    <form action="/Board" method="post">
        <p>아이디</p><br>
        <textarea rows="3" name="userId"></textarea>
        <p>비밀번호</p><br>
        <textarea rows="3" name="password"></textarea>
        <button type="submit" class="btn btn-primary">제출하기</button>
    </form>
    <script>
    function checkSessionStatus() {
        fetch('/session-status')
            .then(response => {
                if (response.status === 401) { // 세션 만료
                    alert("세션이 만료되었습니다. 페이지를 새로고침합니다.");
                    location.reload(); // 페이지 새로고침
                }
            })
            .catch(error => {
                console.error("세션 상태 확인 중 오류 발생:", error);
            });
    }

    // 1분마다 세션 상태 확인 (60000ms = 60초)
    setInterval(checkSessionStatus, 60000);
    </script>
</body>
</html>
