<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <form action="/Board" method="post">
        <p>userId</p><br>
        <textarea rows="3" name="userId"></textarea>
        <p>password</p><br>
        <textarea rows="3" name="password"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>