<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RoomMake</title>
</head>
<body>
    <form class="container" action="/Make" method="post">
        <label class="form-label">방 번호</label>
        <textarea rows="3" name="roomId"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>