<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>방 생성</title>
</head>
<style>
    body {
        background-color: skyblue;
        width: auto;
        height: auto;
        color: greenyellow;
        text-shadow: 0.01cm 0.04cm green;
    }
    header {
        background-color: skyblue;
        width: auto;
        height: auto;
        color: burlywood;
    }
    h1 {
      text-shadow: 0.01cm 0.1cm rgb(182, 98, 38);
    }
    a {
        color: beige;
        text-decoration-line: none;
        text-shadow: 0.01cm 0.04cm black;
    }
</style>
<body>
    <form class="container" action="/Make" method="post">
        <label class="form-label">방 번호</label>
        <textarea rows="3" name="roomId"></textarea>
        <button type="submit" class="btn btn-primary">제출하기</button>
    </form>
</body>
</html>
