<html lang="en">
<style>
    body {
        background-color: skyblue;
        width: auto;
        height: auto;
        color: greenyellow;
        text-shadow: 0.01cm 0.04cm green;
    }
    header {
        background-color: skyblue;
        width: auto;
        height: auto;
        color: burlywood;
    }
    h1 {
      text-shadow: 0.01cm 0.1cm rgb(182, 98, 38);
    }
    a {
        color: beige;
        text-decoration-line: none;
        text-shadow: 0.01cm 0.04cm black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>게시글 작성</title>
</head>
<body>
    <script>
      // 5분마다 서버에 요청 보내기
      setInterval(() => {
        fetch('/session-ping', {
          method: 'POST',
          credentials: 'include'  // 세션 쿠키 포함
        }).then(res => {
          if (res.ok) {
            console.log("세션 연장 성공");
          }
          if (!res.ok) {
            console.warn("세션 연장 실패");
          }
        }).catch(err => {
          console.error("서버 연결 실패", err);
        });
      }, 5 * 60 * 1000); // 5분마다
    </script>
    <h1>글 작성하기</h1>
    <form class="container" action="/RoomCommunity" method="post">
        <input type="hidden" name="RoomId" value="{{Id}}">
        <label class="form-label">글 주제</label>
        <textarea rows="3" name="title"></textarea>
        <label class="form-label">글 내용</label>
        <textarea rows="3" name="News"></textarea>
        <button type="submit" class="btn btn-primary">작성하기</button>
    </form>
</body>
<footer>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/Made">새로운 방 만들기</a><br>
    <a href="https://port-0-fucking-m7oxoza4fc9682d2.sel4.cloudtype.app/In">다른방으로 가기</a><br>
</footer>
</html>
