<html lang="en">
<style>
    body {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    footer {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    header {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    a {
        color: greenyellow
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>다동게시판</title>
</head>
<form class="container" action="/RoomCommunity" method="post">
    <input type="hidden" name="RoomId" value="{{Id}}">  <!-- 이게 핵심 -->

    <!-- 이게 핵심 -->
    <label class="form-label">title</label>
    <textarea rows="3" name="title"></textarea>
    <label class="form-label">News</label>
    <textarea rows="3" name="News"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<footer>
    <a href="http://localhost:8080/Made">새로운 방 만들기</a><br>
    <a href="http://localhost:8080/In">다른방으로 가기</a><br>
</footer>
</html>